<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Contacts</h1>
  </div>
  <div class="min-w-full my-8">
    <div class="table font-bold min-w-full">
      <div>Name</div>
      <div>Email</div>
      <div>Age</div>
      <div>Notes</div>
      <div></div>
    </div>
    <%= turbo_frame_tag "new-contact-form", src: new_contact_path %>
    <div id="contacts">
      <%= render @contacts %>
    </div>
  </div>
</div>
